<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"/>
    <body>
        <!-- 상단 바 -->
        <nav th:replace="fragments/bodyHeader :: bodyheader"/>

        <!-- content -->
        <main class="container" style="margin-top: 50px">
            <div class="row">
                <div class="col">
                    <h2 class="mypage">MyPage</h2>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a
                                    class="nav-link active"
                                    id="home-tab"
                                    data-toggle="tab"
                                    href="#home"
                                    role="tab"
                                    aria-controls="home"
                                    aria-selected="true"
                            >등록한 게시글
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                    class="nav-link"
                                    id="profile-tab"
                                    data-toggle="tab"
                                    href="#profile"
                                    role="tab"
                                    aria-controls="profile"
                                    aria-selected="false"
                            >개인정보
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div
                                class="tab-pane fade show active"
                                id="home"
                                role="tabpanel"
                                aria-labelledby="home-tab"
                        >
                            <table class="table table-hover" style="margin-top: 5px">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col" colspan="2" style="text-align: center">제목</th>
                                    <th scope="col">글쓴이</th>
                                    <th scope="col">작성일</th>
                                </tr>
                                </thead>
                                <tbody th:if="${boards.size()!=0}">
                                <tr th:each="board : ${boards}">
                                    <th scope="row" th:text="${board.getId()}"></th>
                                    <td colspan="2" th:text="${board.getTitle()}"></td>
                                    <td th:text="${memberInfo.getAccountId()}"></td>
                                    <td th:text="${#temporals.format(board.getCreatedDate(), 'yyyy-MM-dd HH:mm')}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <nav aria-label="..."
                                 th:if="${boards.size()!=0}"
                                 th:with="
                                 pageNumber = ${boardPage.getNumber()},
                                 totalPage = ${boardPage.getTotalPages()},
                                 start = ${T(Math).floor(pageNumber/7)*7 + 1},
                                 last = ${start + 6 < totalPage ? start + 6 : totalPage}"
                            >
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"
                                        th:classappend="${boardPage.isFirst()} ?  disabled : ''"
                                    >
                                        <a
                                                class="page-link"
                                                th:href="@{/member/{id}/edit(id=${session.memberInfo.getAccountId()}, page=1)}"
                                                tabindex="-1"
                                                aria-disabled="true"
                                        >First
                                        </a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${boardPage.isFirst()} ?  disabled : ''">
                                        <a class="page-link"

                                           th:href="@{/member/{id}/edit(id=${session.memberInfo.getAccountId()}, page=${pageNumber})}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"
                                        th:each="page : ${#numbers.sequence(start, last)}"
                                        th:classappend="${pageNumber+1==page} ? active : ''">
                                        <a class="page-link"
                                           th:text="${page}"
                                           th:href="@{/member/{id}/edit(id=${session.memberInfo.getAccountId()}, page=${page})}">

                                        </a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${boardPage.hasNext()} ?  '': disabled">
                                        <a class="page-link"
                                           th:href="@{/member/{id}/edit(id=${session.memberInfo.getAccountId()}, page=${pageNumber+2})}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${boardPage.hasNext()} ?  '': disabled"
                                    >
                                        <a class="page-link"
                                           th:href="@{/member/{id}/edit(id=${session.memberInfo.getAccountId()}, page=${totalPage})}"
                                        >
                                            Last
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div
                                class="tab-pane fade"
                                id="profile"
                                role="tabpanel"
                                aria-labelledby="profile-tab"
                        >
                            <form th:action="@{/member/{id}/edit(id=${session.memberInfo.getAccountId()})}"
                                  th:object="${memberInfo}" method="post">
                                <div class="row">
                                    <div class="form-group col">
                                        <label th:for="accountId">Id</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                readonly
                                                th:field="*{accountId}"

                                        />
                                    </div>
                                    <div class="w-100"></div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label th:for="accountPw">password</label>
                                        <input
                                                type="password"
                                                class="form-control"
                                                th:field="*{accountPw}"
                                                maxlength="13"
                                                placeholder="password 최대 13자리"
                                        />
                                    </div>
                                    <div class="w-100"></div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label th:for="name">name</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                th:field="*{name}"
                                                readonly
                                                maxlength="20"
                                                placeholder="name"
                                        />
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="form-group col">
                                        <label th:for="email">email</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                th:field="*{email}"
                                                maxlength="25"
                                                placeholder="cma@example.com"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label th:for="phoneNumber">phonenumber</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{phoneNumber}"
                                            placeholder="핸드폰 번호 숫자로만 입력"
                                            maxlength="13"
                                            onkeyup="inputPhoneNumber(this);"
                                    />
                                </div>

                                <button type="submit" class="btn btn-primary">
                                    회원정보 변경
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 하단 바 -->
        <footer th:replace="fragments/footer :: footer" />

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script
                src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous"
        ></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        -->
        <script src="/js/customMemberForm.js"></script>
    </body>
</html>

