<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="bodyheader" class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <a class="navbar-brand" href="/">메인화면</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li th:if="${session.memberInfo == null}" class="nav-item active">
                <a class="nav-link" th:href="@{/login}"
                >로그인 <span class="sr-only">(current)</span></a
                >
            </li>
            <li th:if="${session.memberInfo == null}" class="nav-item active">
                <a class="nav-link" th:href="@{/member/new}"
                >회원가입 <span class="sr-only">(current)</span></a
                >
            </li>
            <li th:unless="${session.memberInfo == null}" class="nav-item active">
                <a class="nav-link" th:href="@{/logout}"
                >로그아웃 <span class="sr-only">(current)</span></a
                >
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{/boards}"
                >게시판</a>
            </li>
            <li th:unless="${session.memberInfo == null}" class="nav-item">
                <a class="nav-link" th:href="@{/member/{id}/edit(id=${session.memberInfo.accountId})}">Mypage</a>
            </li>
        </ul>
    </div>
</nav>