.custom-button {
    background-color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    color: #777777;
}

a[class~="custom-button"]:hover {
    text-decoration: none;
    color: #777777;
}
